<div id="createBooks" class="container-fluid">
	<form class="form-horizontal">
		<legend>Books</legend>
		 <div class="control-group">
		 	<label class="control-label" for="formId">Id: </label>
		 	<div class="controls">
		 		<input type="text" id="formId" value="<%= id === null ? '' : id %>" disabled="true" name="id" />
		 	</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputEmail">Author: </label>
			<div id="cmbAuthorContainer" class="controls">
			</div> 
		</div>
		<div class="control-group">
			<label class="control-label" for="inputEmail">Title: </label>
			<div class="controls">
				<input type="text" id="inputTitle" placeholder="Title" name="title" value="<%= title %>">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputPassword">Gender: </label>
			<div class="controls">
				<input type="text" id="inputGender" placeholder="Gender" name="genre" value="<%= genre %>">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputPassword">Status: </label>
			<div class="controls">
				<input type="text" id="inputStatus" placeholder="Status" name="status" value="<%= status %>">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputPassword">Available: </label>
			<div class="controls">
				<input type="text" id="inputAvailable" placeholder="Available" name="available" value="<%= available %>">
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button id="btnCloseBook" type="button" class="btn">Cancel</button>
				<button id="btnSaveBook" type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</form>
</div>